@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .f-left{
        float: left;
        padding-right:25px;
    }
    #icontag{
        padding-left: 94px;
        padding-right: 30px;
    }
    i{
        color: #099ddb;
    }
</style>
   
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-12 justify-content-center" style="padding:0px;">
                <div id="videolink"><video id="tempvideo" poster="~/images/callingimage.png"></video></div>
                <div class="row ustify-content-center" id="icontag">
                    <div class="f-left" id="makecall"><i class="fas fa-phone fa-3x"></i></div>
                    <div class="f-left" id="makevideocall"><i class="fas fa-video fa-3x"></i></div>
                    <div class="f-left" id="testmessage"><i class="fas fa-comment-dots fa-3x"></i></div>                    
                </div>
        </div>
    </div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/main.js"></script>