@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="container">
         <!-- <label for="">Your ID: </label>
    <br/>
    <textarea name="yourid" id="yourid" cols="30" rows="10"></textarea>
    <br/>
    <label for="">Other id:</label>
    <br/>
    <textarea name="otherid" id="otherid" cols="30" rows="10"></textarea>
    <br/>
    <button id="connect">Connect</button>

    <br/>

    <label for="">Enter your message: </label>
    <br/>
    <textarea name="" id="yourmessage" cols="30" rows="10"></textarea>
    <br/>
    <button id="send">send</button>
    <br/>
    <pre id="message"></pre> -->
<nav class="navbar navbar-light bg-light">
  <button class="navbar-brand" id="loginbutton">Login</button>
  <h1 id="user"></h1>
</nav>
    <div class="row justify-content-center">
        <div class="col-ms-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <div id="videolink"></div>
                <div id="makecall" class="card-link"><i class="fas fa-phone"></i></a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>





    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/main.js"></script>